@font-face {
  font-weight: 400;
  font-family: 'Satoshi';
  font-style: normal;
  src: url('../fonts/Satoshi/Satoshi-Regular.woff') format('woff');
}

@font-face {
  font-weight: 500;
  font-family: 'Satoshi';
  font-style: normal;
  src: url('../fonts/Satoshi/Satoshi-Medium.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Satoshi';
  font-style: normal;
  src: url('../fonts/Satoshi/Satoshi-Bold.woff') format('woff');
}

@font-face {
  font-weight: 900;
  font-family: 'Satoshi';
  font-style: normal;
  src: url('../fonts/Satoshi/Satoshi-Black.woff') format('woff');
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --color-black:#46434E;
  --color-dark: #434343;
  --color-white: #FFFFFF;
  --color-light: #F2F3F2;
  --color-light-a8: rgba(242, 243, 242, 0.8);
  --color-body: #7C808B;
  --color-accent: #7A8391;
  --color-primary-300: #F2BB97;
  --color-primary-400: #EC9E6A;
  --color-primary-500: #E6813E;
  --color-primary-600: #D4651B;
  --color-primary-700: #A75016;
  --color-secondary-300: #7398C7;
  --color-secondary-400: #55749B;
  --color-secondary-500: #45577B;
  --colot-secondary-600: #304258;
  --color-secondary-700: #1F2A38;
  --color-base: #e0e0e0;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  color: var(--color-body);
  line-height: normal;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-light);
  transition: background-color 0.3s;
}

body.theme-dark {
  background-color: var(--color-dark);
}

.icon::before {
  font-family: icomoon;
}

.icon-linkedin::before {
  content: '\e905';
}

.icon-github::before {
  content: '\e904';
}

.icon-dribble::before {
  content: '\e902';
}

.icon-download::before {
  content: '\e900';
}

.icon-arrow::before {
  content: '\e907';
}

.icon-email::before {
  content: '\e903';
}

.page {
  padding: 0px 24px;
}

.container {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--color-primary-500);
  height: 52px;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  color: var(--color-light);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  transition: color 0.3s;
}

.button_dark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  color: var(--color-primary-500);
  border: 1px var(--color-primary-500) solid;
  border-radius: 6px;
  padding: 12px 20px;
  gap: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.button_text {
  background: none;
  border: none;
  border-radius: none;
  color: var(--color-secondary-500);
  text-decoration: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.theme-dark .button_text {
  color: var(--color-light);
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: var(--color-secondary-500);
  transition: color 0.3s;
}

.theme-dark .heading {
  color: var(--color-light);
}

.heading_light {
  color: var(--color-light);
}

.heading_bold {
 font-weight: 900;
 color: var(--color-light);
}

.title {
  color: var(--color-primary-500);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.title_large {
  font-size: 20px;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-body);
}

.text_light {
  color: var(--color-base);
}

.text_bold {
  color: var(--color-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.text_larger {
  color: var(--color-accent);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.socials__list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary-500);
  font-size: 32px;
  text-decoration: none;
  width: 32px;
  height: 32px;
  transition: color 0.3s;
}

.socials__link_footer {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.theme-dark .socials__link {
  color: var(--color-white);
}

.project {
  position: relative;
  border-radius: 32px;
  overflow: hidden;
}

.project__content {
  background-color: var(--color-light-a8);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 40px 37px 28px;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.project:hover .project__content {
  transform: translateY(0);
}

.project__name {
  color: var(--color-black);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
}

.project__image {
  display: flex;
  width: 100%;
  max-width: 592px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
}

.logo__image {
  display: flex;
  width: 100%;
}

.navigation__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation__link {
  display: flex;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: var(--color-black);
  transition: color 0.3s;
}

.theme-dark .navigation__link {
  color: var(--color-white);
}

.theme-switch {
  width: 78px;
  height: 40px;
  background-color: var(--color-base);
  border: none;
  border-radius: 40px;
  padding: 2px;
  cursor: pointer;
}

.theme-switch::before {
  font-family: icomoon;
  content: '\e901';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: var(--color-white);
  border-radius: 50%;
  font-size: 21px;
  color: var(--color-primary-500);
  transition: color 0.3s, transform 0.3s;
  transform: translateX(0);
}

.theme-switch_dark::before {
  font-family: icomoon;
  content: '\e906';
  color: var(--color-secondary-500);
  transform: translateX(38px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0px;
  margin-bottom: 32px;
}

.header__logo,
.header__theme {
  flex-shrink: 0;
}

.intro {
  display: flex;
}

.intro__greeting {
  color: var(--color-primary-500);
  font-weight: 500px;
  font-size: 24px;
  line-height: 32px;
}

.intro__name {
  color: var(--color-secondary-400);
  font-weight: 900;
  font-size: 72px;
  line-height: 92px;
  margin-bottom: 24px;
  transition: color 0.3s;
}

.theme-dark .intro__name {
  color: var(--color-light);
}

.intro__line {
  width: 80px;
  height: 8px;
  background-color: var(--color-primary-500);
  margin-bottom: 72px;
}

.intro__hero {
  max-width: 100%;
  width: 523px;
  margin: 0 auto;
  object-fit: cover;
}

.intro__content {
  max-width: 370px;
}

.intro__heading {
  margin-bottom: 32px;
}

.intro__description {
  margin-bottom: 32px;
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  background-color: var(--color-black);
  border: none;
  border-radius: 12px;
  padding: 72px 40px;
  margin-bottom: 32px;
}

.about__image {
  display: flex;
  width: 100%;
  max-width: 499px;
}

.about__content {
  max-width: 475px;
}

.about__title {
  padding-bottom: 8px;
}

.about__heading {
  padding-bottom: 32px;
}

.services {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 32px;
}

.services__content {
  max-width: 475px;
}

.services__heading {
  margin-bottom: 32px;
}

.services__text {
  margin-bottom: 8px;
}

.services__list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding-top: 40px;
}

.services__list-item {
  background-color: var(--color-white);
  border-radius: 32px;
  padding: 32px;
  width: 280px;
}

.theme-dark .services__list-item {
  background-color: var(--color-black);
}

.services__list-image {
  height: 80px;
  margin-bottom: 24px;
  margin-top: -72px;
}

.services__list-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-secondary-500);
  margin-bottom: 24px;
}

.theme-dark .services__list-title {
  color: var(--color-light);
}

.projects {
  padding: 48px 0;
  margin-bottom:  32px; ;
}

.projects__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 48px;
}

.projects__title,
.projects__heading {
  text-align: right;
}

.projects__list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.projects__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 24px;
}

.projects__link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 28px;
  color: var(--color-black);
}

.theme-dark .projects__link-icon {
  color: var(--color-white);
}

.blog {
  margin-top: 32px 0;
  margin-bottom: 32px;
}

.blog__intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 48px 0;
}

.blog__link {
  display: flex;
  align-items: center;
  gap: 24px;
  text-decoration: none;
}

.blog__link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 28px;
  width: 32px;
  height: 32px;
  font-size: 28px;
  color: var(--color-black);
}

.blog__list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.blog__list-item {
  min-width: 381px;
}

.blog__image {
  display: flex;
  width: 100%;
  margin-bottom: 32px;
}

.blog__title-publication {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
  margin-top: 8px;
}

.theme-dark .blog__title-publication {
  color: var(--color-light);
}

.question {
  padding: 48px 0;
  margin-bottom: 32px;
}

.question__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  border-radius: 12px;
  padding: 40px 40px;
}

.question__button {
  display: flex;
  gap: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: var(--color-accent) 1px solid;
  padding: 48px 0;
}



